# Ignore all
*
# Unignore all files with extentions
!*.*
# Unignore dirs
!*/

### Above combination will ignore all files without extension ###

# Compiled files
*.out

# Tests
test*

# System files
.DS_STORE
